* {
    text-align: center;
}

#section {
    margin-top: 200px;
}

#section button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#section button:active {
    transform: scale(1.2);
}

#counterDiv {
    margin-top: 20px;
}